.entregaDocumentos__container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.entregaDocumentos__title {
	font-size: 18px;
	font-weight: 600;
	color: var(--primary-color-app);
}

.entregaDocumentos__lista {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
	grid-template-columns: repeat(2, 1fr);
}
.entregaDocumentos__text {
	font-weight: 500;
	color: #4b5563;
}
.entregaDocumentos__text__limite {
	font-weight: 500;
	font-size: 14px;
	color: #4b5563;
}
