.stepWizard {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stepWizardList {
	border: 1px solid var(--border-color-app);
	color: var(--primary-color-app);
	list-style-type: none;
	border-radius: 10px;
	display: flex;
	padding: 20px 10px;
	position: relative;
	z-index: 10;
}

.stepWizardItem {
	padding: 0 20px;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	min-width: 170px;
	position: relative;
}

.stepWizardItem + .stepWizardItem:after {
	content: "";
	position: absolute;
	left: 0;
	top: 19px;
	background: var(--primary-color-app);
	width: 100%;
	height: 2px;
	transform: translateX(-50%);
	z-index: -10;
}

.progressCount {
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-weight: 600;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	color: transparent;
	cursor: pointer;
}

.progressCount:after {
	content: "";
	height: 40px;
	width: 40px;
	background: var(--primary-color-app);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: -10;
}

.progressCount:before {
	content: "";
	height: 10px;
	width: 20px;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -60%) rotate(-45deg);
	transform-origin: center center;
}

.progressLabel {
	font-size: 14px;
	font-weight: 600;
	margin-top: 10px;
}

.currentItem .progressCount:before,
.currentItem ~ .stepWizardItem .progressCount:before {
	display: none;
}

.currentItem ~ .stepWizardItem .progressCount:after {
	height: 10px;
	width: 10px;
}

.currentItem ~ .stepWizardItem .progressLabel {
	opacity: 0.5;
}

.currentItem .progressCount:after {
	background: #fff;
	border: 2px solid var(--primary-color-app);
}

.currentItem .progressCount {
	color: var(--primary-color-app);
}
